/* User-provided fonts placed in public/font/ */
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/font/BricolageGrotesque.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CandyPlanet";
  src: url("/font/CandyPlanet.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SugarPeachy";
  src: url("/font/SugarPeachy.otf") format("opentype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;





